.calendarContainer{
    font-weight: 700;
}
.calendarInput {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  outline: none;
  cursor: pointer;
}

.calendarInput:focus:hover {
  outline: none;
   
}
@media screen and (min-width: 768px) {
    .calendarInput {
        font-size: 34px;
    }
}

.svg {
    width: 20px;
    height: 20px;
    fill: 9B9FAA;
    margin-left: 20px;
}