@value blueColor from '../../index.module.css';
@value bgGreyColor from '../../index.module.css';

.listProducts {
  max-height: 200px;
  overflow-y: scroll;
  /* outline: 1px solid orangered; */

  background-image: linear-gradient(to bottom, #f44336 15%);
}
.listProducts::-webkit-scrollbar {
  width: 6px;
  background: bgGreyColor;
  height: 240px;
}
.listProducts::-webkit-scrollbar-thumb {
  background: blueColor;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .listProducts {
    max-height: 240px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .listProducts {
    max-height: 290px;
  }
}
