@media screen and (min-width: 768px) {
  .thumb {
    min-height: calc(100vh - 123px);

    background-image: url(../../images/auth/banana-tablet.png),
      url(../../images/auth/strawberry-tablet.png),
      url(../../images/auth/leaves-tablet.png),
      url(../../images/auth/vector-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px, bottom 200px right 0px,
      bottom 279px right 12px, bottom right;
  }
}
@media screen and (min-width: 1280px) {
  .thumb {
    background-image: url(../../images/auth/fruits-desktop.png),
      url(../../images/auth/vector-desktop.png);
    background-position: bottom right, bottom right;
  }
}
/* .thumb {
  position: absolute;
  min-width: 100vw;
  min-height: calc(100vh - 200px);
}
.vector {
  position: absolute;
  right: 0;
}
.banana {
  position: absolute;
  bottom: 0;
  right: 0;
}
.strawberry {
  position: absolute;
}
.leafs {
  position: absolute;
}
.fruits {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
.vectorDesctop {
  position: absolute;
  z-index: 0;
  right: 0;
} */
