.thumb {
  min-height: 100vh;
  min-width: 100vw;
}

@media screen and (min-width: 768px) {
  .thumb {
    background-image: url(../../images/auth/banana-tablet.png),
      url(../../images/auth/strawberry-tablet.png),
      url(../../images/auth/leaves-tablet.png),
      url(../../images/auth/vector-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom 200px right,
      bottom 279px right 12px, bottom right;
  }
}
@media screen and (min-width: 1280px) {
  .thumb {
    min-height: 100vh;
    min-width: 100vw;

    background-image: url(../../images/auth/fruits-desktop.png),
      url(../../images/auth/vector-desktop.png);
    background-position: bottom right, bottom right;
  }
}
