/*==================MOBILE=========================*/

@media screen and (min-width: 320px) {
  .container {
    max-width: 375px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 60%, rgba(240, 241, 243, 1) 40%);
  }
}

/*==================TABLET=========================*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 90px;
    background: linear-gradient(to bottom, hsla(0, 0%, 100%, 0) 75%, rgba(240, 241, 243, 1) 25%);

  }
}

/*==================DESKTOP=========================*/

@media screen and (min-width: 1280px) {
  .container {
    /* padding: 0 0 0 90px; */
    padding: 0 115px;
    max-width: 1280px;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0) 60%, rgba(240, 241, 243, 1) 40%);

  }
}
