@font-face {
    font-family: 'Verdana';
    src: local('Verdana Bold'), local('Verdana-Bold'),
        url('Verdana-Bold.woff2') format('woff2'),
        url('Verdana-Bold.woff') format('woff'),
        url('Verdana-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }