.boxMain {
  position: relative;
  padding-top: 40px;

  outline: 1px solid orangered;
}

.boxCalendarInput {
  margin-bottom: 31px;
}

.boxAddProductForm {
  position: absolute;
  top: 300px;
  left: 125px;
}

@media screen and (min-width: 768px) {
  .boxMain {
    padding-top: 100px;
  }
  .boxAddProductForm {
    position: static;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .boxCalendarInput {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .boxMain {
    padding-top: 140px;
  }
  .wrapper {
    display: flex;
  }
}
