.mainHeader {
  display: block;
  border-bottom: 2px solid #e0e0e0;
}

.wraper {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .mainHeader {
    border: none;
  }

  .wraper {
    justify-content: flex-start;
    align-items: baseline;
    padding: 82px 0 0;
  }
}

/* 
======================Auth Button========================== */
.authNavContainer {
  display: flex;
  gap: 15px;
  margin: auto 0;
  height: 20px;
}

.authLink {
  font-weight: 700;
  font-size: 14px;
  color: #9b9faa;
}

.authLinkActive {
  color: #212121;
}

@media screen and (min-width: 1280px) {
  .authNavContainer {
    height: 32px;
    padding-left: 22px;
    margin: 0;
    margin-left: 22px;
    align-items: center;

    border-left: 2px solid #e0e0e0;
  }
}
/* ======================BURGER button========================== */
.burgerButton {
  border: none;
  background-color: #ffffff;
}
.burgerIcon {
  width: 18px;
  height: 12px;
}

@media screen and (min-width: 1280px) {
  .burgerButton {
    display: none;
  }
}

/* ======================BURGER========================== */

.burgerMenu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 60px;
  gap: 30px;
  text-align: center;
  background-color: #264061;
}

@media screen and (min-width: 768px) {
  .burgerMenu {
    padding-top: 108px;
    gap: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .burgerMenu {
    display: none;
  }
}
/* ======================UserBox========================== */

.userBox {
  display: block;
  height: 40px;
  padding-top: 4px;
  background-color: #eff1f3;
}
/* ======================UserPanel========================== */

.userPanel {
  font-family: Gotham Pro;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #212121;
  text-align: right;
}

.nic {
  font-family: Gotham Pro;
  font-weight: bold;
  display: inline-block;
  height: 30px;
  padding-right: 15px;
  border-right: 2px solid #e0e0e0;
}

.logout {
  font-family: Gotham Pro;
  margin-left: 15px;
  color: #9b9faa;
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .userPanel {
    padding-top: 6px;

    margin-left: 270px;
  }
}

@media screen and (min-width: 1280px) {
  .userPanel {
    background-color: #f0f1f3;
    margin-left: 225px;
    flex-grow: 1;
  }

  .logout {
    margin-right: 115px;
    color: #9b9faa;
  }

  .userPanel::before {
    content: '';
    display: block;
    height: 200px;
    margin-top: -200px;
    background-color: #f0f1f3;
  }
}

/* =====================USER NAV======================= */

.burgerLink {
  font-family: Verdana;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.04em;

  color: #9b9faa;
}

.burgerLinkActive {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .burgerLink {
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (min-width: 1280px) {
  .burgerLink {
    font-family: Gotham Pro;
    font-size: 14px;
    line-height: 32px;
    color: #212121;
  }

  .burgerLinkActive {
    color: #9b9faa;
  }

  .burgerLink:nth-child(2n-1) {
    padding-left: 22px;
    margin: 0 22px;
    border-left: 2px solid #e0e0e0;
  }
}

/* ===================logo====================== */
.logoDesc {
  margin-bottom: -5px;
}
.logoTab {
  margin-top: 16px;
}

.logoMob {
  margin-top: 16px;
}
