.banana {
  position: absolute;
  right: 0;
  top: 0;
}

.leafs {
  max-height: 790px;
  position: absolute;
  right: 195px;
  top: 0;
}

.vector {
  position: absolute;
  right: 0;
  top: 0;
}

.strawberry {
  max-height: 355px;
  position: absolute;
  right: 36px;
  top: 455px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .banana {
    position: absolute;
    right: 0;
    top: 553px;
  }

  .leafs {
    max-height: 511px;

    position: absolute;
    right: 190px;
    top: 473px;
  }

  .vector {
    position: absolute;
    right: 0;
    top: 421px;
  }

  .strawberry {
    position: absolute;
    right: 36px;
    top: 525px;
  }
}
